body {
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

#background {
  background-image: url(img/background.jpg);
  width: 100vw;
  height: 100vh;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  padding-left: 68px;
  padding-right: 68px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container:hover {
  -webkit-box-shadow: 0 0 1em gold;
          box-shadow: 0 0 1em gold;
}

.containerkey {
  -webkit-box-shadow: 0 0 1em gold;
          box-shadow: 0 0 1em gold;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none;
  color: #212529;
}

li {
  padding: 1em;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navvwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
}

nav {
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

kbd {
  font-size: 48px;
}

@media (max-width: 1024px) {
  #background {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 25px;
    border: 1px solid black;
    border-radius: 5%;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul {
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
  }
  .navleft {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 579px) {
  .container {
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 449px) {
  .container {
    padding-left: 51px;
    padding-right: 51px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
  }
}

@media (max-width: 375px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 10px;
    border-radius: 5%;
    font-size: 32px;
  }
}
/*# sourceMappingURL=style.css.map */