$gray: #f0eeeb;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
//header
.bg-header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-top{
    background-color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
    width: 93%;
    margin: 0 auto;
}

header > p {
    font-weight: 600;
}

header > p > span:nth-child(2){
    text-decoration: 1px underline white;
}
//header
.wrapper-center{
    width: 93%;
}

//nav
nav{display: flex;
    justify-content: space-between;
    position: relative;
}
//Hamburger

.hamburger{
    position: absolute;
    right: 0;
    top: 1.95em;
}

//Hamburger


ul{
    padding:0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.nav-item-left{
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    height: 76px;
}
.nav-item-left > p{
    margin: auto 0;
}
.nav-items-right{
    justify-content: center;
}

.nav-items-mid,.nav-items-right{
    flex:1;
    display: none;
}



.btn-nav-black{
    background-color: black;
    color: white;
    border: 0px;
    padding: 1.2em 1.8em 1.2em 1.8em;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 2em;
}

.nav-open{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spense-margin{
    margin: 0 auto;
}

.nav-small-screan{
    height: 70vh;
    flex-direction: column;
}

//nav

//section-1

section{
    display:flex;
    flex-direction: column;
}

.section-one-div-left{
    order: 1;
}

.section-one-div-right{
    order: 0;
}


//section-1

.mid-media-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    place-items: end;
}

.mid-media-top > a {
    display: none;
}

.section-one-div-right > img{
    max-width: 100%;
    display: block;
}

.mid-media-top > a > img{
    max-width: 100%;
    display: block;
}

.mid-media-top > a:first-child,.mid-media-top > a:nth-child(2),.mid-media-top > a:nth-child(3){
    display: block;
}

@media(min-width: 600px){
    .hamburger{
        display: none;
    }
    .nav-items-mid{
        display: flex;
        justify-content: center;

    }
    nav > div {
        flex: 1;
    }

    .nav-items-right,.nav-items-mid > ul{
        flex-direction: row;
        align-items: center;
    }
    li{
        margin: 0 1em 0 1em;
    }
    .nav-items-right{
        justify-content: flex-end;
    }
    .nav-items-right > p {
        margin-right: 1em;
    }
}