$gray: #f0eeeb;

$pGray: #5a5444;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

p{
    line-height: 1.5;
}
img{
    max-width: 100%;
    display: block;
}

//header
.bg-header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-top{
    background-color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-top * p:not(.nav-item-left > p,.nav-items-mid * p,.nav-items-right > p) {
    color: $pGray;
}
.bg-mid{
    display: flex;
    justify-content: center;
}
.bg-bottom{
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
}

header{
    text-align: center;
    width: 93%;
    margin: 0 auto;
}

header > p {
    font-weight: 600;
}

header > p > span:nth-child(2){
    text-decoration: 1px underline white;
}
//header
.wrapper-center{
    width: 93%;
}

//nav
nav{display: flex;
    justify-content: space-between;
    position: relative;
}
//Hamburger

.hamburger{
    position: absolute;
    right: 0;
    top: 1.95em;
}

//Hamburger


ul{
    padding:0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.nav-item-left{
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    height: 76px;
}
.nav-item-left > p{
    margin: auto 0;
}
.nav-items-right{
    justify-content: center;
}

.nav-items-mid,.nav-items-right{
    flex:1;
    display: none;
}



.btn-nav-black{
    background-color: black;
    color: white;
    border: 0px;
    padding: 1.2em 1.8em 1.2em 1.8em;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 2em;
}

.nav-open{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spense-margin{
    margin: 0 auto;
}

.nav-small-screan{
    height: 70vh;
    flex-direction: column;
}

//nav

//section-1

section{
    display:flex;
    flex-direction: column;
}

.section-one-div-left{
    order: 1;
}

.section-one-div-left-content > h1 {
    font-size: 32px;
    color: #292929;
}
.section-one-div-left-content > p {
    padding-top: 0.5em;
}

.section-one-div-left-content{
    margin-top: 2em;
}


.section-one-div-right{
    order: 0;
}

.check-circle-div{
    margin: 1em 0 1em 0;
    display: flex;
    flex-direction: row;
}

.check-circle-div > p {
    margin-left: 1em;
    margin-top: auto;
    font-weight: 600;

}

.check-circle-div > i {
    align-self: center;
}


.form-one{
    display: flex;

    padding: 0 0 2.5em 0;
}

.form-one > input[type="text"]{
    color: $pGray;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}

.form-one > input[type="submit"]{
    margin-left: 1em;
    background-color: black;
    color: white;
    border: 0px;
    padding: 1.2em 1.8em 1.2em 1.8em;
    border-radius: 5px;
    font-weight: 700;
}



//section-1
//mid
.mid-media-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    place-items: end;
    padding: 2em 0 2em 0;
}

.mid-media-top > a {
    display: none;
    
}


.mid-media-top > a:first-child,.mid-media-top > a:nth-child(2),.mid-media-top > a:nth-child(3){
    display: block;
}

.mid-nested-container-section-top{
    background-color: $gray;
    border-radius: 10px;
}
.mid-nested-container-wrapper > h1{
    padding-top: 1.2em;
    font-size: 26px;
    padding-bottom: 0.3em;
    width: 60%;
}

.mid-nested-container-wrapper > p{
    color: $pGray;
}

.mid-nested-container-wrapper > p > span{
    font-weight: 700;
    text-decoration: 1px underline $pGray;
}
.mid-span-a{
    margin-top: 1.3em;
}


.mid-nested-container-section-top-div,.mid-nested-container-section-bottom{
    display: flex;
    justify-content: center;
}
.mid-nested-container-wrapper{
    width: 80%;
}
.mid-nested-container-wrapper-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.mid-nested-container-section-bottom{
    flex-direction: column;
}
.mid-nested-container-section-bottom-right-div{
    order:0;
}
.mid-nested-container-section-bottom-right-div > p{
    padding-top: 1em;
    color: $pGray;
}

.mid-nested-container-section-bottom-right-div > p > span{
    text-decoration: underline;
    font-weight: 700;
}

.mid-nested-container-section-bottom-left-div{
    order: 1;
}
.mid-nested-container-section-bottom-left-div > img {
    margin-top: 2em;
}

.mid-nested-container-section-bottom-right-div > h1{
    font-size: 26px;
    padding: 2em 0 0em 0;
    width: 85%;
}

//mid
//footer
.footer-flex{
    display: flex;
    justify-content: space-between;
}
.footer-flex > div {
    flex: 1;
}


.footer-container > p:first-child{
    font-size: 1.2rem;
    font-weight: 600;
}
.footer-container > p {
    padding: 0.3em 0 0.3em 0;
}

.footer-container > p:not(.footer-container > p:first-child){
    color: #9e9e9e;
}
//footer
@media(min-width: 600px){
    .hamburger{
        display: none;
    }
    .nav-items-mid{
        display: flex;
        justify-content: center;

    }
    nav > div {
        flex: 1;
    }

    .nav-items-right,.nav-items-mid > ul{
        flex-direction: row;
        align-items: center;
    }
    li{
        margin: 0 1em 0 1em;
    }
    .nav-items-right{
        display: flex;
        justify-content: space-between;
        min-width: 170px;

    }
    .nav-items-right > p {
        margin-right: 1em;
    }
    .btn-nav-black{
        margin-top: 0;
        padding: 1.2em 1.5em 1.2em 1.5em;
    }
}
@media (max-width:318px){
    .form-one > input[type="text"]{
        width: 50%;
    }
}