* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.bg-header {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-top {
  background-color: #f0eeeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  text-align: center;
  width: 93%;
  margin: 0 auto;
}

header > p {
  font-weight: 600;
}

header > p > span:nth-child(2) {
  -webkit-text-decoration: 1px underline white;
          text-decoration: 1px underline white;
}

.wrapper-center {
  width: 93%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.hamburger {
  position: absolute;
  right: 0;
  top: 1.95em;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.nav-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  height: 76px;
}

.nav-item-left > p {
  margin: auto 0;
}

.nav-items-right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-items-mid, .nav-items-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: none;
}

.btn-nav-black {
  background-color: black;
  color: white;
  border: 0px;
  padding: 1.2em 1.8em 1.2em 1.8em;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 2em;
}

.nav-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spense-margin {
  margin: 0 auto;
}

.nav-small-screan {
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-one-div-left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.section-one-div-right {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.mid-media-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1em;
  place-items: end;
}

.mid-media-top > a {
  display: none;
}

.section-one-div-right > img {
  max-width: 100%;
  display: block;
}

.mid-media-top > a > img {
  max-width: 100%;
  display: block;
}

.mid-media-top > a:first-child, .mid-media-top > a:nth-child(2), .mid-media-top > a:nth-child(3) {
  display: block;
}

@media (min-width: 600px) {
  .hamburger {
    display: none;
  }
  .nav-items-mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav-items-right, .nav-items-mid > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  li {
    margin: 0 1em 0 1em;
  }
  .nav-items-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-items-right > p {
    margin-right: 1em;
  }
}
/*# sourceMappingURL=style.css.map */