body{
    margin: 0px;
    padding: 0px;
    display:flex;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    overflow-x:hidden;
}
a{
    text-decoration: none;
    color: #212529;
}
a:hover:not(.logohref){
    color:  #cb997e;
}
header{
    padding-right: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.bg-extralight{
    // background-color: #dee2e6;
    display:flex;
    justify-content: center;
}
p{
    font-size: 1.25em;
    padding: 1em;
    line-height: 1.6;
    align-self: center;
    text-align: center;
    padding: 1.5rem
}
h1,h2{
    text-align: center;
    color: white;
    padding: 3rem
}
h1{
    padding-top: 0px;
    padding-bottom: 0px;
}
.titledark{
    color: #cb997e;
}
.row{
    flex: 1;
}
img{
    max-width: 100%;
}
.bg-light{
    background-color: #212529;
    overflow: hidden;
    width: 100%;
    display:flex;
    justify-content: center;
    color: #fff;
}

.bg-dark{
    width: 100%;
    display:flex;
    justify-content: center;
}
.flex{
    display: flex;
    
}
.flexwrap{
    display:flex;
    justify-content: center;
}
.rowimg{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
// navbar
ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
li{
    padding: 1em;
}
.nav{
    display: flex;
    width: 100%;
}
.navvwrapper{
    display: flex;
    justify-content: center;
}
nav{
    width: 100%;
    color: white;
}
.navleft{
    display: flex;
    align-items: center;
}

@media (min-width: 768px){
    .flex{
        display: flex;
    }
    header{
        width: 90%;
    }
    .flex{
        width: 90%;
    }
    img{
        height: 100%;
        object-fit: cover;
        object-position:center;
        padding-bottom: 2em;
        padding-top: 2em;
    }
}
.flex:first-child{
    flex:2
}
@media (max-width:992px)
{
    .flex{
        flex-direction: column;
    }
}

@media (min-width:280px) {
    p{
        font-size: 1rem;
    }

}
@media (min-width:992px){
    .bg-dark > div{
        flex-direction: row-reverse;
    }
    .row{
        flex: 1;
        padding: 2em;
    }
    p{
        font-size: 1.1125rem;
    }
    .flexreverse{
        flex-direction: row-reverse;
    }
    .flexwrap{
        width: 85%;
    }
    .nav{
        width: 85%;
    }
}
@media(max-width:414px){
    .nav{
        flex-direction: column;
    }
    ul{
        padding: 0px;
        justify-content: center;
        flex-direction: column;
    }
    .navleft{
        justify-content: center;
        flex-direction: column;
        
    }
    .logo{
        display: flex;
        justify-content: center;
    }
}
.undertitle{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
