:root {
    --clr-primary-300: #F3EED9;
    --clr-primary-400: #cb997e;

    --clr-neutral-100: #FFF;
    --clr-neutral-900: #b7b7a4;

    --ff-primary: "Roboto", sans-serif;
    --ff-accent: "Playfair Display", serif;
}

body{
    box-sizing: border-box;
    font-family: var(--ff-primary);
    font-weight: 300;
    font-size: 1.3125rem;
    line-height: 1.6;
    margin: 0;
}
p{
    margin-bottom: 1em;
}

h1,h2,h3{
    font-family: var(--ff-accent);
    line-height: 1;
    font-weight: 900;
    margin-bottom: 1em;
}

img{
    max-width: 100%;
    display: block;
}
section,header{
    padding: 3rem 0;
}
.container{
    margin: auto;
    width: 90%;
    max-width: 70.5rem;
}
.container--narrow{
    max-width: 34rem;
}
.text-center{
    text-align: center;
}

.bg-light{
    background-color: var(--clr-primary-300);
}
.bg-dark{
    color:var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
}
.bg-accent{
    color:var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
}
.bg-accent h2,
.bg-dark h2{
    color: var(--clr-primary-300)
}
.dark-title{
    color:#BF805F;
}
.split{
    display:flex;
    flex-direction:column;
}
header > p{
    color: var(--clr-primary-300)
}
.container--narrow > h1 {
    margin-top: 0;
}
.container--narrow > p {
    margin-bottom: 0;
}
@media (min-width: 768px){
    .split{
        flex-direction:row;
    }
    .split > * {
        flex-basis: 100%;
    }
    .split > * + * {
        margin-left: 2em;
    }
    h1,h2,h3{
        margin-top: 0;
    }
}